In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# carregar data sets
movies_df = pd.read_csv("movies.csv")
albums_df = pd.read_csv("albums.csv")
tv_shows_df = pd.read_csv("tv-shows.csv")

# merge dos data sets
merged_df1 = pd.merge(tv_shows_df, albums_df, on=["Title", "ReleaseYear", "Genre", "Type", "Label/Studio"], how='outer')
merged_df2 = pd.merge(tv_shows_df, movies_df, on=["Title", "ReleaseYear", "Genre", "Type", "Rating"], how='outer')
merged_df3 = pd.merge(albums_df, movies_df, on=["Title", "ReleaseYear", "Genre", "Type", "CriticScore"], how='outer')
merged_df = pd.concat([merged_df1, merged_df2, merged_df3], axis=0)


# escreve os data sets num ficheiro csv
merged_df.fillna("None", inplace=True)
merged_df.to_csv("merged_data.csv", index=False)

In [9]:
def label(dataframe):
    label_encoder = LabelEncoder()
    for column in dataframe.columns:
        # Verificar se a coluna é do tipo 'object' (categórica)
        if dataframe[column].dtype == 'object':
            # Aplicar a codificação LabelEncoder à coluna
            dataframe[column] = label_encoder.fit_transform(dataframe[column])
    return dataframe

In [10]:
df = pd.read_csv("merged_data.csv")
df

,Title,Type,ReleaseYear,FinalYear,Network,Label/Studio,Genre,Rating,Adaptation,Artist,CriticScore,Director,ReleaseDate,Cast,Runtime,Summary,NumOfCriticReviews
0,Game of Thrones,Tv-Show,2011,2019,HBO,Warner Bros.,"Drama, Fantasy",TV-MA,Based on a book,None,None,None,None,None,None,None,None
1,Breaking Bad,Tv-Show,2008,2013,AMC,Sony Pictures Television,Drama,TV-MA,Original,None,None,None,None,None,None,None,None
2,Friends,Tv-Show,1994,2004,NBC,Warner Bros.,Comedy,TV-PG,Original,None,None,None,None,None,None,None,None
3,The Sopranos,Tv-Show,1999,2007,HBO,Warner Bros.,Drama,TV-MA,Original,None,None,None,None,None,None,None,None
4,Stranger Things,Tv-Show,2016,2022,Netflix,None,"Horror, Science Fiction",None,Based on a book,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901,The Spectacular Now,Movie,2013,None,None,None,Romance,R,None,None,Good,James Ponsoldt,"August 2, 2013","['Andre Royo', 'Bob Odenkirk', 'Brie Larson', ...",95 min,None,42.0
902,Safety Not Guaranteed,Movie,2012,None,None,None,Comedy,R,None,None,Good,Colin Trevorrow,"June 8, 2012","['Aubrey Plaza', 'Jake M. Johnson', 'Jenica Be...",86 min,When an unusual classified ad inspires three c...,31.0
903,Like Crazy,Movie,2011,None,None,None,Romance,PG-13,None,None,Mediocre,Drake Doremus,"October 28, 2011",[],90 min,A love story is both a physical and emotional ...,38.0
904,The Art of Getting By,Movie,2011,None,None,None,Romance,PG-13,None,None,Bad,Gavin Wiesen,"June 17, 2011","['Emma Roberts', 'Freddie Highmore', 'Michael ...",84 min,None,28.0
905,The End of the Tour,Movie,2015,None,None,None,Drama,R,None,None,Good,James Ponsoldt,"July 31, 2015","['Anna Chlumsky', 'Jason Segel', 'Jesse Eisenb...",106 min,The End of the Tour tells the story of the fiv...,35.0

In [11]:
label(df)

,Title,Type,ReleaseYear,FinalYear,Network,Label/Studio,Genre,Rating,Adaptation,Artist,CriticScore,Director,ReleaseDate,Cast,Runtime,Summary,NumOfCriticReviews
0,113,2,2011,13,13,163,29,10,1,48,4,55,84,0,72,30,39
1,52,2,2008,8,2,142,27,10,8,48,4,55,84,0,72,30,39
2,107,2,1994,2,16,163,13,11,8,48,4,55,84,0,72,30,39
3,388,2,1999,5,13,163,27,10,8,48,4,55,84,0,72,30,39
4,258,2,2016,16,17,106,53,3,1,48,4,55,84,0,72,30,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901,390,1,2013,17,19,106,77,7,7,48,2,30,4,18,67,30,27
902,232,1,2012,17,19,106,13,7,7,48,2,10,68,35,61,47,17
903,173,1,2011,17,19,106,77,6,7,48,3,16,98,108,63,3,23
904,274,1,2011,17,19,106,77,6,7,48,0,23,57,68,60,30,15
905,308,1,2015,17,19,106,27,7,7,48,2,30,49,25,5,40,20